


<div class="container">
  
  
<div class="input-group">
  <span class="input-group-addon " id="sizing-addon2"><i class="fa fa-key"></i></span>
  <input [(ngModel)]="room.Rid" type="text" class="form-control" placeholder="RId" aria-describedby="sizing-addon2">
</div>
<br/>
<div class="input-group">
  <span class="input-group-addon" id="sizing-addon2"><i class="fa fa-institution"></i></span>
  <input  [(ngModel)]="room.Block" type="text" class="form-control" placeholder="Block Name" aria-describedby="sizing-addon2">
</div>
<br/>
<div class="input-group">
  <span class="input-group-addon" id="sizing-addon2"><i class="	fa fa-arrow-circle-up"></i></span>
  <input  [(ngModel)]="room.Floor" type="number" class="form-control" placeholder="Floor Number" aria-describedby="sizing-addon2">
</div>
<br/>

 

<button type="button" class="btn btn-primary" (click)="InsertRoom()" style="width:100%;" >Save</button>

</div>


 