<nav class="navbar navbar-toggleable-md navbar-inverse bg-Transparent">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Mindtree</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#minds">Campus Minds</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#social">Social Centre</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#allocate">Allocate Room</a>
      </li>
     
    </ul>
  </div>
</nav>
