

<div class="container-fluid">

<table border=0 class="col-lg-12">
  <tr *ngFor="let user of users">
    <td><h3>{{user.Name}}</h3></td>
    <td>
      <!-- <button type="button" class="btn btn-primary" (click)="allocateRoom(user)" data-dismiss="modal" >Allocate Room</button> -->
       <button type="button"  *ngIf="!user.Rid" class="btn  btn btn-info user-reg-btn" data-dismiss="modal" data-toggle="modal" data-target="#getAdminCode" >Allocate Room</button>
      <button type="button" *ngIf="user.Rid" class="btn  btn bg-warning user-reg-btn" data-dismiss="modal" data-toggle="modal" data-target="#getAdminCode" >Deallocate Room</button>
      </td>
  </tr>
</table>

<!-- <div class="modal fade" id="chooseroom" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
         <div class="modal-header">
           <h2>Choose Room</h2>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
         </div>
         <div class="modal-body">
             <app-choose-room></app-choose-room>
         </div>
    </div>
  </div>
  </div> -->



</div>