
<router-outlet></router-outlet>
<footer>
    
      <div style=" text-align:center; background-color:black; color:white; ">
       
       Mindtree Limited                
      </div>
      
 </footer>