


<div class="container">
  
  <form [formGroup]="userForm" (ngSubmit)="InsertUser(userForm.value)">

    <div class="input-group">
      <span class="input-group-addon " id="sizing-addon2"><i class="fa fa-id-badge"></i></span>
      <input type="text" class="form-control" formControlName="mid" placeholder="MId" aria-describedby="sizing-addon2" >
    </div>

    <div class="alert alert-danger" role="alert" *ngIf="!userForm.controls['mid'].dirty && userForm.controls['mid'].touched">
    <strong>Yo Bruh!</strong> Mid field can't be empty
    </div>
   
    <div class="alert alert-danger" role="alert" *ngIf="userForm.controls['mid'].dirty && !userForm.controls['mid'].valid && userForm.controls['mid'].touched">
    <strong>Yo Bruh!</strong> Mid pattern is in-valid. Correct pattern is 'M' followed by 7 digits.
    </div>

    <br/>
    <div class="input-group">
      <span class="input-group-addon" id="sizing-addon2"><i class="	fa fa-user"></i></span>
      <input type="text" class="form-control" formControlName="Name" placeholder="Name" aria-describedby="sizing-addon2">
    </div>

    <div class="alert alert-danger" role="alert" *ngIf="!userForm.controls['Name'].valid && userForm.controls['Name'].touched">
    <strong>Yo Bruh!</strong> I suppose You Have a Name!
    </div>

    <br/>
    <div class="input-group">
      <span class="input-group-addon" id="sizing-addon2"><i class="	fa fa-television"></i></span>
      <input  placeholder="Select Track" class="form-control" formControlName="Track" list="tracks" aria-describedby="sizing-addon2">
      <datalist id="tracks" >
			<option *ngFor="let track of tracks" value="{{track.Track}}">
  	  </datalist>
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="!userForm.controls['Track'].valid && userForm.controls['Track'].touched">
    <strong>Yo Bruh!</strong>You got to choose a track!
    </div>
    <br/>
    <label class="gender">Select Gender</label>
    <ul>
     <li *ngFor="let Sex of gender"><input formControlName="Gender" type="radio" value="{{Sex.sex}}"> {{Sex.sex}}</li>
    </ul>
    <div class="alert alert-danger" role="alert" *ngIf="!userForm.controls['Gender'].valid && userForm.controls['Gender'].touched">
    <strong>Yo Bruh!</strong>Choose Your Gender!
    </div>
    <br/>
    <input type="submit" class="btn btn-primary" style="width:100%;" [disabled]="!userForm.valid"/>
  </form>
</div>





















   

