.home-back
{
     background-image: url("/assets/images/kalinga.jpg");

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}



.home-layer {
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:rgba(0,0,0,0.6);
}

.container-fluid {
    padding-left:0;
    padding-right: 0;
}

.user-reg
{
     background-image: url("/assets/images/home.jpg");

    /* Full height */
    height: 80%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.add-room
{
     background-image: url("/assets/images/room.jpg");

    /* Full height */
    height: 70%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.user-reg-btn
{
    background-color: white;
    /* background-color: transparent; */
    font-weight: bold;
    color:black;
}

.user-reg-btn:hover
{
    
    background-color: black;
    font-weight: bold;
    color:white;
}

.allocate-room
{
     background-image: url("/assets/images/allocate.jpg");

    /* Full height */
    height: 70%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}