


<script>

</script>


<div id="home" class="container-fluid home-back">
  <div class="container-fluid home-layer"> 
  <app-header></app-header>
  <div class="jumbotron" style="background-color:transparent; color:white; text-align:center;">
  <h3>Mindtree Presents</h3>
  <h1>Knowledge Paradise Campus, Kalinga</h1>
  </div>
<div class="container-fluid row" style="height:50%;width:100%;">
  <div class=" col-12 col-sm-8 col-lg-8">
    <div class="jumbotron" style="background-color:transparent; color:white;">
  
  <h1 class="display-6">Mindtree Kalinga Campus</h1>
  <p class="lead">20 acres sustainable campus designed to facilitate software development office spaces along with training block (community of learners) and transit accommodation (convivial society). Central axis along the east west direction, from where one can enjoy the rise and the set of the sun is called as path of life, connects the whole campus. Compressed earth blocks made from the earth excavated at site are used for construction of walls. One acre of pond created in the campus is helping in achieving water neutrality. 
  </p>
  </div>
  </div>
<img src=".././assets/images/enlightment.png" class="img-fluid col-0 col-sm-4 col-lg-4 " />
</div>
  </div>
</div>



<div class="row container-fluid" id="minds" style="width:100%; height:50%;">
   
    <img src=".././assets/images/user.png" class="img-fluid col-lg-4"/>
     <div class=" col-12 col-sm-8 col-lg-8">
    <div class="jumbotron" style="background-color:transparent; color:black;">
  
  <h1 class="display-6">Campus Minds</h1>
  <p class="lead">
    If the 20th century was the century of logical and analytical ability, the 21st century can be said to be the
century of multiple intelligences. The traditional definition of intelligence is giving way to a broader
definition which reflects the differing ways in which humans think, learn and act. Kalinga looks at
engaging learners using different intelligences, resulting in a multi-skilled, well-rounded engineer.
As a campus mind experiences this unique learning program at Kalinga, we are not just creating a
programmer or a tester but someone who will engineer meaningful technology solutions to help
businesses and societies flourish.
  </p>

  <h6 style="text-align:center;">Scroll Down To Register User</h6>
  </div>


  </div>

</div>

<div class="container-fluid user-reg">
   <div class="container-fluid home-layer"> 
   
    
     <div class="container-fluid row align-items-center" style="height:100%;width:100%;">

       <img src=".././assets/images/user1.png" class="img-fluid col-lg-3 offset-1"/>
        <div class=" col-12 col-sm-8 col-lg-3 offset-1 align-self-center ">
           
               <button type="button" class="btn btn-primary btn-lg bg-Transparent user-reg-btn"  data-toggle="modal" data-target="#exampleModal" >Click Here To Add New User</button>
            
          </div>
          <img src=".././assets/images/Id.png" class="img-fluid col-0 col-sm-4 col-lg-3 " />
      </div>
    </div>
</div>


 <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
         <div class="modal-header">
           <h2>User Details</h2>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
         </div>
         <div class="modal-body">
             <app-user-reg></app-user-reg>
         </div>
    </div>
  </div>
  </div>



<div class="row container-fluid" id="social" style="width:100%; height:50%;">
   
    
     <div class=" col-12 col-sm-8 col-lg-8">
    <div class="jumbotron" style="background-color:transparent; color:black;">
   <h1 class="display-6">Social Centre</h1>
  <p class="lead">
   A home like place for the campus minds where they spend time with the other minds and get life experiences. This home like structure consists of several 
   arrangements that takes care of campus minds social life example gaming activities, refreshment through television and 24/7 internet. 
   Each room is shared by 2 minds and has 24/7 room service help. 
  </p>

  <h6 style="text-align:center;">Scroll Down To Add a New Room</h6>
  </div>


  </div>
  <img src=".././assets/images/Social.png" class="img-fluid col-lg-4"/>

</div>


<div class="container-fluid add-room">
   <div class="container-fluid home-layer"> 
   
    
     <div class="container-fluid row align-items-center" style="height:100%;width:100%;">

       
        <div class=" col-12 col-sm-8 col-lg-4 offset-3 align-self-center ">
           
               <button type="button" class="btn btn-primary btn-lg bg-Transparent user-reg-btn"  data-toggle="modal" data-target="#Roominfo" >Click Here To Add New Room</button>
            
          </div>
          <img src=".././assets/images/room_in_social.png" class="img-fluid col-0 col-sm-4 col-lg-3 " style="height:80%;" />
      </div>
    </div>
</div>


<div class="modal fade" id="Roominfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
         <div class="modal-header">
           <h2>New Room Details</h2>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
         </div>
         <div class="modal-body">
             <app-add-room></app-add-room>
         </div>
    </div>
  </div>
  </div>


  <div class="row container-fluid" id="allocate" style="width:100%; height:50%;">
   
    <img src=".././assets/images/mindinroom.png" class="img-fluid col-lg-4"/>
     <div class=" col-12 col-sm-8 col-lg-8">
    <div class="jumbotron" style="background-color:transparent; color:black;">
  
  <h1 class="display-6">Room Allocation</h1>
  <p class="lead">
  The Social center has been divided into 4 Blocks,Two for women and Two for men. Each room is shared by 2 of the Campus minds. 
  The allocation process is random and remains the same through out the program. 
  </p>

  <h6 style="text-align:center;">Scroll Down To Allocate Room</h6>
  </div>
  </div>
</div>


<div class="container-fluid allocate-room">
   <div class="container-fluid home-layer"> 
   
    
     <div class="container-fluid row align-items-center" style="height:100%;width:100%;">

       
        <div class=" col-12 col-sm-8 col-lg-4 offset-1 align-self-center ">
          
               <button type="button" class="btn btn-primary btn-lg bg-Transparent user-reg-btn"  data-toggle="modal" data-target="#roomallocate" >Click Here To Allocate Room</button>
            
          </div>
          <img src=".././assets/images/room_allocation.png" class="img-fluid col-0 col-sm-4 col-lg-7 " style="height:80%;" />
      </div>
    </div>
</div>


<div class="modal fade" id="roomallocate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
         <div class="modal-header">
           <h2>User List</h2>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
         </div>
         <div class="modal-body">
             <app-room-allocation></app-room-allocation>
         </div>
    </div>
  </div>
  </div>


  <div class="modal fade" id="getAdminCode" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
         <div class="modal-header">
           <h2>For this page Admin Autentication is Required.</h2>
           <br/>
          
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
         </div>
         <div class="modal-body">
             <h4>Please Enter Admin Pass Code</h4>
           <br/>
           <div class="input-group">
               <span class="input-group-addon" id="sizing-addon2"><i class="fa fa-key"></i></span>
               <input type="text" [(ngModel)]="passkey" class="form-control" placeholder="Admin Pass Key" aria-describedby="sizing-addon2">
           </div>
              <br/>
                <button type="button" class="close" class="btn btn-primary btn btn-dark bg-primary user-reg-btn" (click)="check()" data-dismiss="modal" aria-label="Close">Ok</button>
         </div>
    </div>
  </div>
  </div>

